.modaliniciarletras{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    background-color: #053d57;
}
.iniciarGoogle{
    size: lg;
}
.headerPublic{
    color: #b3d2f2;
    font-size: 60px;
}
.margen{
    margin-left: 50px;
}
.targetaspublicas{
    margin-right: 10px;
    min-width: 300px !important;
}
.HeaderPublic{
    background-color: #97bcc7;
}
.imagenHeaderPerfil{
    max-width: 200px !important;
    border-radius: 100px;
    margin-left: 30px;
}
.titulosHeaderPublic{
    background-color: #006884;
    color: white;
    border-radius: 15px;
}
.AsideWorks{
    background-color: #b3d2f2;
    height: 96vh;
    color: white;
}
.imagenPanle{
    margin-top: 15px;
    width: 200px;
    height: 200px;
}
.fechaPanel{
    background-color: #006884;
    margin-left: 70%;
    margin-right: 10px;
    color: white;
}
.regresarPanel{
    background-color: #006884;
    color: white;
}
.fondoPanel{
    background-color: #b3d2f2;
}
.imgPanelDescripcion{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
.imgModalPerfilContenedor{
    height: 60px !important;
    width: 80px !important;
    justify-content: center !important;
    display: flex;
}
.imgMuroPerfil{
    height: 60px !important;
    width: 60px !important;
}
.botonesPagos{
    border-radius: 25px;
    background-color: #053d57;
    color: white;
}
.Titulo{
    border-radius: 25px;
    background-color: #006884;
    color: white
}
.avatarPagos{
    width: 300px;
    height: 300px;
}

.campodetallespago{
    background-color: #97b1cc;
    border-radius: 25px;
    max-width: 700px;
}
.buttoninit{
    position: absolute; 
    z-index: 100; 
    border-radius: 5em; 
    color:black; 
    top: 5%; right: 5%;
}
.contenedorImgCarrusel{
    height: 100vh;
}
.cardPay{
    border-radius: 25px;
    color: white;
}
.ImagenSolicitudesPanel{
    max-width: 30vw;
    max-height: 300px;
}
.imgImg{
    max-width: 30vw;
    max-height: 300px;
}
.HeaderPublicaciones{
    background-color: #053d57;
    color: white;
    
}
.HeaderPublicaciones2{
    background-color: #c7c7c7;
    border-radius: 25px;
}
.imagenAmigos{
    margin-left: -6px;
    padding: 0px 0px;
    border-radius: 40px;
    width: 80px;
    height: 80px;
}
.imgPostulados{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.HedreModal{
    background-color: #053d57;
    color: white;
}
.tarjetmodal{
    max-width: 500px;
    max-height: 400px;
    top: 20%; left: 30%;
}
.Comentarios{
    margin-right: 25%;
    max-height: 50vh;
}
.filesChat{
    margin-top: 5px;
    max-width: 300px;
    max-height: 30vh;
}
.userPerfil{
    width: 300px;
    height: 300px;
    border-radius: 250px;
}
.imgModalPerfil{
    max-width: 180px;
    max-height: 200px;
}
.imgModalEntrega{
    max-width: 180px;
    max-height: 200px;
}